* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Serif Display', 'Poppins', sans-serif;
}

:root {
    --color-main: #E3E6F3; 
    --color-secondary: #088178;
}


/* Header Start */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: var(--color-main);
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    font-family: 'Poppins';
}

.logo {
    width: 200px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    font-family: 'Poppins';
    list-style: none;
    padding: 0 20px;
    position: relative;

}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-size: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover {
    color: #088178;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Main Body */

.main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

#contact-form-box {
    background-color: red;
}


