* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Serif Display', 'Poppins', sans-serif;
}

:root {
    --color-main: #E3E6F3; 
    --color-secondary: #088178;
}


/* Header Start */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: var(--color-main);
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    font-family: 'Poppins';
}

.logo {
    width: 200px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    font-family: 'Poppins';
    list-style: none;
    padding: 0 20px;
    position: relative;

}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-size: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover {
    color: #088178;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Center Page */

.center-page {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Left Side */

.log-in-image {
    width: 10%;
}

/* Right Side */

.sign-up-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    border-radius: 30px;
    border-width: 5px;
    border-color: #088178;
    padding: 20px;
    flex: 1;
    margin: 30px;
    max-width: 600px;
}


form {
    width: 300px;
    margin: 0 auto;
    order: 2;
}

label {
    display: block;
    margin: 10px 0;
    text-align: left;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    display: block;
    margin: 0 auto;
}


/* Footer */


footer {
    height: 500px;
    width: 100%;
    background-color: #E3E6F3;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

footer .button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* adjust as needed */
}

footer button { /* same as footer */
    color: #1a1a1a;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer button:hover {
    background-color: #c1c4d0; /* darker on hover */
}
