* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Serif Display', sans-serif;
}

:root {
    --color-secondary: #088178;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: 222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

/* Header Start */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    font-family: 'Poppins';
}

.logo {
    width: 200px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    font-family: 'Poppins';
    list-style: none;
    padding: 0 20px;
    position: relative;

}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-size: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover {
    color: #088178;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


/* Hero Section*/

#hero {
    background-image: url("../img/cat_hero_image.jpeg");
    height: 60vh;
    width: 100%;
    background-position: top 5% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}


#hero h4 {
    font-family: poppins;
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
}

#hero .search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 170px;
    background-color: var(--color-secondary);
    border-radius: 30px;
}

#zip, #date {
    border-radius: 30px;
    height: 50px;
    width: 200px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 10px 5px;
    padding: 5px;
}

#hero button {
    
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: 0;
    padding: 14px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    width: 200px;
    margin: 20px;
    border-radius: 30px;
}

/*Featured Section */

#feature {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}

.feature-box1, .feature-box2, .feature-box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px;
    margin: 10px;
}

.feature-box1 h4, .feature-box2 h4, .feature-box3 h4,
.feature-box1 img, .feature-box2 img, .feature-box3 img {
    align-self: center;
}

#feature h4, p {
    font-family: 'Poppins';
    text-align: center;
    padding: 10px;
}

#feature .f1, .f2, .f3 {
    width: 300px;
    padding: 10px;
}

/* Add a media query for small screens */
@media (max-width: 845px) {
    #feature {
        flex-direction: column;
    }
    .feature-box1, .feature-box2, .feature-box3 {
        flex-direction: row;
    }
}

/*Featured Sitters */

#featured-sitters {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#featured-sitters h2 {
    padding: 20px
}

.featured-sitters-box {
    display: flex;
    flex-direction: row;   
}

.featured-sitters-box > * {
    margin: 50px;
}

.featured-sitter-1, .featured-sitter-2, .featured-sitter-3 {
    display: flex;
    align-items: last baseline;
    border: solid;
    border-width: 5px;
    border-color: #465b52;
    border-radius: 20px;
    height: 250px;
    width: 250px;

}

@media (max-width: 845px) {
    .featured-sitters-box {
        flex-direction: column;
    }
    .featured-sitter-1, .featured-sitter-2, .featured-sitter-3 {
        margin: 10px;
    }
}

/* Footer */

#footer {
    background-color: #088178;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#footer .button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* adjust as needed */
}

#footer button { /* same as footer */
    color: #1a1a1a;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#footer button:hover {
    background-color: #c1c4d0; /* darker on hover */
}

/* Shop Page */

/* Single Product */

/* Blog Page */

/* About Page */